* {
  font-family: "Poppins";
  font-size: 22px;
}
.responsive {
  width: 50%;
  margin-left: 100px;
  height: auto;
  margin-bottom: 75px;
  background: red;
  border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .mdf {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .mdf1 {
    width: 100%;
    height: auto;
  }
}

.hero {
  background: #3b5d50;
  padding: calc(4rem - 30px) 0 0rem 0;
}
@media (min-width: 768px) {
  .hero {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
}
@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}
.hero .intro-excerpt {
  position: relative;
  z-index: 4;
}
@media (min-width: 992px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
}
.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.hero .hero-img-wrap {
  position: relative;
}
.hero .hero-img-wrap img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 2;
  /* max-width: 780px; */
  left: -20px;
}
@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0px;
    left: -100px;
  }
}
@media (min-width: 992px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    right: -100px;
  }
}
.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../Assets/dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap:after {
    top: -40px;
  }
}

.section-title {
  color: #2f2f2f;
}

.product-section {
  padding: 3rem 0;
}
.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 0;
  cursor: pointer;
}
.product-section .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}
.product-section .product-item strong {
  font-weight: 800 !important;
  font-size: 18px !important;
}
.product-section .product-item h3,
.product-section .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}
.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}
.product-section .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width:576px){
  .icon{
    align-items: center;
    justify-content: center;
  }
  
}
.product-section .product-item:hover:before {
  height: 70%;
}

.why-choose-section {
  padding: 7rem 0;
}
.why-choose-section .img-wrap {
  position: relative;
}
.why-choose-section .img-wrap:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../Assets/dots-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: -1;
}
.why-choose-section .img-wrap img {
  border-radius: 20px;
}

.popular-product {
  padding: 0 0 7rem 0;
}
.popular-product .product-item-sm h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
}
.popular-product .product-item-sm a {
  text-decoration: none;
  color: #2f2f2f;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.popular-product .product-item-sm a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.popular-product .product-item-sm p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 14px;
}
.popular-product .product-item-sm .thumbnail {
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  position: relative;
}
.popular-product .product-item-sm .thumbnail:before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background: #dce5e4;
  width: 98px;
  height: 98px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonial-section {
  padding: 3rem 0 7rem 0;
}

.testimonial-slider-wrap {
  position: relative;
}
.testimonial-slider-wrap .tns-inner {
  padding-top: 30px;
}
.testimonial-slider-wrap .item .testimonial-block blockquote {
  font-size: 16px;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap .item .testimonial-block blockquote {
    line-height: 32px;
    font-size: 18px;
  }
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
  margin-bottom: 20px;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
  max-width: 80px;
  border-radius: 50%;
}
.testimonial-slider-wrap .item .testimonial-block .author-info h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 0;
}
.testimonial-slider-wrap #testimonial-nav {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap #testimonial-nav {
    display: block;
  }
}
.testimonial-slider-wrap #testimonial-nav > span {
  cursor: pointer;
  position: absolute;
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  background: rgba(59, 93, 80, 0.1);
  color: #2f2f2f;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.testimonial-slider-wrap #testimonial-nav > span:hover {
  background: #3b5d50;
  color: #ffffff;
}
.testimonial-slider-wrap #testimonial-nav .prev {
  left: -10px;
}
.testimonial-slider-wrap #testimonial-nav .next {
  right: 0;
}
.testimonial-slider-wrap .tns-nav {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.testimonial-slider-wrap .tns-nav button {
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  width: 0 !important;
  height: 7px !important;
  margin: 2px;
}
.testimonial-slider-wrap .tns-nav button:active,
.testimonial-slider-wrap .tns-nav button:focus,
.testimonial-slider-wrap .tns-nav button:hover {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
.testimonial-slider-wrap .tns-nav button:before {
  display: block;
  width: 7px;
  height: 7px;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: #d6d6d6;
}
.testimonial-slider-wrap .tns-nav button:hover:before,
.testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
  background-color: #3b5d50;
}
.intro-excerpt {
  position: relative;
  z-index: 4;
  @media (min-width: 768px) {
    max-width: 450px;
  }
}

.horizontal-carousel {
  color: #2f2f2f;
}

.icon-favorite.favorited {
  color: red;
}

.service {
  line-height: 1.5;
}
.service .service-icon {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff;
}
